<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.AboutPageModel"-->

    <head>
        <title>Bookish - About Us</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbar.css"/>
        <link rel="stylesheet" href="/styles/about.css"/>

        <style>
            td, th {
                border: 2px inset #aaaaaa;
                text-align: left;
                padding: 8px;
                width: 100px;
                white-space: nowrap;
            }
        </style>

    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar">
            <!-- This element is replaced by the HTML in fragments/navbar.html -->
        </div>

        <h2>Books List</h2>

        <a th:href="${'/books/add-book'}">Add Book</a><br>

        <form th:action="@{/books}" method="post">
            <div class="add-tech-row">
                <label>
                    <span>Search: </span>
                    <input type="text" name="search">
                </label>
            </div>
        </form><br>

        <table>
            <tr>
                <th>TITLE 📕</th>
                <th>AUTHOR ✏️</th>
                <th>ISBN 🔢️</th>
                <th>COPIES 📚</th>
                <th>VIEW 🔍</th>
            </tr>
            <tr th:each="book : ${model.books}">
                <td><span th:text="${book.title}"></span></td>
                <td><span th:text="${book.author}"></span></td>
                <td><span th:text="${book.isbn}"></span></td>
                <td><span th:text="${book.copies}"></span></td>
                <td><a th:href="${'/books/view-book?book_id=' + book.book_id}">View</a></td>
            </tr>
        </table>

    </body>


</html>