<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Bookish - Home</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbarnew.css"/>
        <link rel="stylesheet" href="/styles/index.css"/>
        <link rel="stylesheet" href="/styles/sf.css"/>
    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar">
            <!-- This element is replaced by the HTML in fragments/navbar.html -->
        </div>

        <p class="title">Bookish</p>
        <p class="titlesub">Library management made digital</p>

    </body>


</html>
