<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.LoansPageModel"-->

    <head>
        <title>Bookish - Loans</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbarnew.css"/>
        <link rel="stylesheet" href="/styles/about.css"/>
        <link rel="stylesheet" href="/styles/sf.css"/>

    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar">
            <!-- This element is replaced by the HTML in fragments/navbar.html -->
        </div>

        <div class="list-table">
            <table>
                <tr class="t-header">
                    <th colspan="2" style="font-size: 30px; text-align: center;">Loan List</th>
                </tr>
                <tr class="t-header">
                    <th>
                        <form th:action="@{/loans}" method="post"><input type="text" name="search" placeholder="Search..."></form>
                    </th>
                    <th>
                        <form th:action="@{/loans/add-loan}" method="post"><input type="submit" value="Add Loan"/></form>
                    </th>
                </tr>
            </table>
        </div>

        <div class="list-table">
            <table>
                <tr class="t-header">
                    <th>LOAN ID 🆔</th>
                    <th>RETURN DATE 📅</th>
                    <th>MEMBER 👨</th>
                    <th>BOOK 📚</th>
                    <th>VIEW 🔍</th>
                </tr>
                <tr class="t-row" th:each="loan : ${model.loans}">
                    <td><span th:text="${loan.loan_id}"></span></td>
                    <td><span th:text="${loan.return_date}"></span></td>
                    <td><span th:text="${loan.member_id}"></span></td>
                    <td><span th:text="${loan.book_id}"></span></td>
                    <td><form th:action="${'/loans/view-loan?loan_id=' + loan.loan_id}" method="post"><input type="submit" value="View"/></form></td>
                </tr>
            </table>
        </div>

    </body>


</html>