<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.AboutPageModel"-->

    <head>
        <title>Bookish - View Book</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbarnew.css"/>
        <link rel="stylesheet" href="/styles/about.css"/>
        <link rel="stylesheet" href="/styles/sf.css"/>
    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar">
            <!-- This element is replaced by the HTML in fragments/navbar.html -->
        </div>

        <div class="list-table">
            <table>
                <tr class="t-header">
                    <th colspan="2" style="font-size: 30px; text-align: center;"><span th:text="${model.book.title}"></span></th>
                </tr>
                <tr class="t-row"><td><span>Author</span></td><td><span th:text="${model.book.author}"></span></td></tr>
                <tr class="t-row"><td><span>ISBN</span></td><td><span th:text="${model.book.isbn}"></span></td></tr>
                <tr class="t-row"><td><span>Copies</span></td><td><span th:text="${model.book.copies}"></span></td></tr>
            </table>
        </div>

        <div class="list-table">
            <table>
                <form th:action="@{/books/edit-book}" method="post">
                    <tr class="t-header">
                        <th colspan="2" style="font-size: 30px; text-align: center;">Edit Book</th>
                    </tr>
                    <tr class="t-row"><td><span>Book ID</span></td><td><input type="text" th:value=${model.book.book_id} name="book_id" readonly></td></tr>
                    <tr class="t-row"><td><span>Title</span></td><td><input type="text" name="new_title" th:value=${model.book.title}></td></tr>
                    <tr class="t-row"><td><span>Author</span></td><td><input type="text" name="new_author" th:value=${model.book.author}></td></tr>
                    <tr class="t-row"><td><span>ISBN</span></td><td><input type="text" name="new_isbn" th:value=${model.book.isbn}></td></tr>
                    <tr class="t-row"><td><span>Copies</span></td><td><input type="text" name="new_copies" th:value=${model.book.copies}></td></tr>
                    <tr class="t-header"><td colspan="2" style="text-align: right;"><input type="submit" value="Submit"/></td></tr>
                </form>
            </table>
        </div>

        <div class="list-table">
            <table>
                <tr class="t-header">
                    <th style="font-size: 30px; text-align: center;">Delete Book</th>
                </tr>
                <tr class="t-row">
                    <td style="text-align: center;">
                        <form th:action="${'/books/delete-book?book_id=' + model.book.book_id}" method="post">
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

    </body>


</html>